
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body { 
    font-size: 12px;
    font-family: Arial;
    margin: 0;
    color: #fff;
    background: -webkit-linear-gradient(left, #10455F, #25b7c4);
    background: linear-gradient(to right, #10455F, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
 
.title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 10px;
}

.app {
    width: 90%;
    margin: 0 auto;
}

.reactable-page-button, .reactable-previous-page, .reactable-next-page {
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: 6px;
    padding: 3px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 0.2);
    // background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
}
.reactable-column-header th {
    text-align: left;
    // line-height: 30px;
    outline: none;
    background-color: rgba(255,255,255,0.3);
}
.reactable-current-page {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.reactable-pagination {
    padding-top: 10px;
    line-height: 50px;
    text-align: center;
}
.reactable-pagination td {
  border: 0;
}

.reactable-header-sortable {
    cursor: pointer;
}

.reactable-header-sort-desc:after {
    content: " \2193";
    font-family: tahoma;
}

.reactable-header-sort-asc:after {
    content: " \2191";
    font-family: tahoma;
}
.reactable-filter-input {
    outline: none;
    width: 100%;
    line-height: 1.5rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    width: 100%;
    color: #FFF;
    font-size: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    letter-spacing: 0.1rem;
}
.reactable-data {
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.11);
}
.reactable-data td {
  border-right: 1px solid rgba(255,255,255,0.1);
  border-left: 0;
}
.reactable-data td:first-child {
  border-right: 1px solid rgba(255,255,255,0.1);
  border-left: 1px solid rgba(255,255,255,0.1);
}

.reactable-filterer td {
    padding: 10px 0;
}

.reactable-filter-input::-webkit-input-placeholder { /* Chrome */
  color: #FFF;
}
.reactable-filter-input:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
.reactable-filter-input::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
  opacity: 1;
}
.reactable-filter-input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #FFF;
  opacity: 1;
}

table{
  width:100%;
  table-layout: fixed;
}
th{
  padding: 10px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 10px 15px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 11px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
tr:hover td {
    background-color: rgba(255,255,255,0.11);
}
.reactable-filterer:hover td,
.reactable-pagination tr:hover td {
    background: transparent;
}
